extends layout
block content

  div(ng-app='LegendaryApp', ng-controller='TreeController')

    h1 Legendaries
    select(ng-model='legendary', ng-options='l.name for l in legendaries')

    h1 {{legendary.name}}
    ul
      li(ng-repeat='data in legendary.components', ng-include="'tree_item_renderer.html'")

    script(id='tree_item_renderer.html', type='text/ng-template')
      div.node(ng-click='click_handler($event)', data-path='{{data.path}}', ng-class='{done: data.done}') {{data.quantity}}x {{data.component.name}}
      ul
       li(ng-repeat='data in data.component.components', ng-include="'tree_item_renderer.html'")
