extends layout
block content

  div(ng-app='myApp', ng-controller='TreeController')
    h1 {{legendary.name}}
    ul
      li(ng-repeat='data in legendary.components', ng-include="'tree_item_renderer.html'")

    script(id='tree_item_renderer.html', type='text/ng-template')
      span {{data.quantity}}x {{data.component.name}}
      ul
       li(ng-repeat='data in data.component.components', ng-include="'tree_item_renderer.html'")
