extends layout
block content

  .container(ng-app='LegendaryApp', ng-controller='TreeController')

    h1 Legendaries
    select(ng-model='legendary', ng-options='l.name for l in legendaries')

    h2: a(href='{{legendary.href}}') {{legendary.name}}
    ul
      li(ng-repeat='data in legendary.components', ng-include="'tree_item_renderer.html'")

    script(id='tree_item_renderer.html', type='text/ng-template')
      div.node(data-path='{{data.path}}', ng-class='{done: data.done}')
        span.label-holder(ng-click='click_handler($event)')
          span.label.label-success(ng-show='data.done'): i.icon-ok
          span.label(ng-show='!data.done'): i.icon-remove
        .info
          .name
            span.quantity {{number_with_commas(data.quantity)}}x
            a(ng-show='data.component.href', href='{{data.component.href}}', target='_blank') {{data.component.name}}
            span(ng-show='!data.component.href') {{data.component.name}}
            span.quantity-ea(ng-show='data.quantity_each') ({{data.quantity_each}}x each)
          .note(ng-show='data.component.note && data.component.note.length') {{data.component.note}}
          .tags(ng-show='data.component.tags && data.component.tags.length')
            span.label(ng-repeat='tag in data.component.tags') {{tag}}
      ul
       li(ng-repeat='data in data.component.components', ng-include="'tree_item_renderer.html'")
