!!! 5
html(lang='en')
  head
    block title
      title Hello World
    block styles
      link(rel='stylesheet', href='/index.css')
  body
    block content
    block scripts
      script(src='/index.js')
