body
  cursor default
select
  width 100%
.node
  .label-holder
    position absolute
    margin-right 7px
    .label
      cursor pointer
  .info
    display inline-block
    margin-left 2.2em
    .note
      font-size .8em
      font-style italic
    .tags span
      margin-right .25em
ul
  list-style-type none
  margin 0
  li
    margin 1em 0
li ul
  margin 0 0 0 1.6em
