body
  cursor default
select
  width 100%

header
  background-color #333
  color #efefef
  padding-bottom 1em
  margin-bottom 1em
  h1
    text-transform uppercase
    text-align center

.node
  padding .5em .5em
  border-radius .5em
  &.level_2
    background-color #ccc
  &.level_3
    background-color #efefef
  .label-holder
    position absolute
    margin-right 7px
    .label
      cursor pointer
  .info
    display inline-block
    margin-left 2.2em
    .quantity
      margin-right .25em
    .quantity-ea
      margin-left .25em
      font-size .8em
    .note
      font-size .8em
      font-style italic
    .tags span
      margin-right .25em
  &.done .info
    opacity .25
ul
  list-style-type none
  margin 0
  li
    margin 1em 0
li ul
  margin 0 0 0 1.6em
