document, body
  cursor default
  margin 0
  padding 0
select
  width 100%

header
  background-color #333
  padding .5em 20px 1em 20px
  margin 0 0 1em 0
  h1
    font-size 35px
    text-transform uppercase
    text-align center
    .legendary
      color #efefef
    .db
      color #999

article h2
  margin-left 8px

footer
  background-color #333
  color #efefef
  margin 1em 0 0 0
  p
    text-align center
    font-size 1em
    padding 1em
    a
      color #efefef
      text-decoration underline

.node
  padding .5em .5em
  &.level_2
    background-color #bbb
  &.level_3
    background-color #ddd
    border-top-left-radius .5em
    border-bottom-left-radius .5em
  .label-holder
    position absolute
    margin-right 7px
    .label
      cursor pointer
  .info
    display inline-block
    margin-left 2.2em
    .name a
      font-weight bold
    .quantity
      margin-right .25em
    .quantity-ea
      margin-left .25em
      font-size .8em
    .note
      font-size .8em
      font-style italic
    .tags span
      margin-right .25em
  &.done .info
    opacity .25
ul
  list-style-type none
  margin 0
  li
    margin 1em 0
li ul
  margin 0 0 0 1.6em
